.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.765137;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-ms-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-webkit-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{width:2.560000px;}
._1{width:4.240000px;}
._0{width:6.026000px;}
._3{width:10.720000px;}
._2{width:14.600000px;}
._5{width:57.280000px;}
._7{width:458.791278px;}
._6{width:1491.319980px;}
.fc0{color:rgb(0,0,0);}
.fs7{font-size:32.000000px;}
.fsa{font-size:38.000000px;}
.fs2{font-size:40.000000px;}
.fs9{font-size:42.000000px;}
.fs4{font-size:42.366911px;}
.fs3{font-size:46.000000px;}
.fs6{font-size:48.000000px;}
.fs8{font-size:52.000000px;}
.fs1{font-size:58.000000px;}
.fs5{font-size:60.000000px;}
.fs0{font-size:72.000000px;}
.y6{bottom:3.065000px;}
.y5{bottom:15.134999px;}
.y4{bottom:27.204999px;}
.y32{bottom:27.484002px;}
.y2{bottom:31.270998px;}
.y3{bottom:39.274999px;}
.y2f{bottom:79.462995px;}
.y2e{bottom:91.533009px;}
.y2d{bottom:103.603009px;}
.y2c{bottom:115.673023px;}
.y2b{bottom:127.743024px;}
.y2a{bottom:139.813031px;}
.y29{bottom:151.882984px;}
.y28{bottom:163.952985px;}
.y27{bottom:176.022999px;}
.y26{bottom:188.092999px;}
.y25{bottom:200.163013px;}
.y24{bottom:212.233014px;}
.y23{bottom:224.302998px;}
.y22{bottom:236.372998px;}
.y21{bottom:248.443012px;}
.y20{bottom:260.513013px;}
.y1f{bottom:272.582996px;}
.y1e{bottom:284.652997px;}
.y1d{bottom:296.723004px;}
.y1c{bottom:308.793012px;}
.y0{bottom:331.000000px;}
.y1b{bottom:335.466000px;}
.y1a{bottom:366.108014px;}
.y19{bottom:378.177991px;}
.y18{bottom:390.247998px;}
.y17{bottom:402.318006px;}
.y16{bottom:414.388013px;}
.y15{bottom:426.457990px;}
.y14{bottom:438.527997px;}
.y13{bottom:450.598004px;}
.y12{bottom:462.668012px;}
.y11{bottom:488.341000px;}
.y10{bottom:518.983002px;}
.yf{bottom:531.053001px;}
.ye{bottom:543.122997px;}
.yd{bottom:555.192997px;}
.yc{bottom:567.262997px;}
.yb{bottom:579.332996px;}
.ya{bottom:591.402997px;}
.y38{bottom:598.579999px;}
.y30{bottom:609.000000px;}
.y37{bottom:610.649999px;}
.y9{bottom:626.543003px;}
.y36{bottom:634.790002px;}
.y8{bottom:638.613004px;}
.y35{bottom:646.860002px;}
.y7{bottom:651.613003px;}
.y34{bottom:658.930001px;}
.y33{bottom:684.603001px;}
.y1{bottom:685.120003px;}
.y31{bottom:701.109997px;}
.h8{height:30.000000px;}
.h4{height:30.585938px;}
.h6{height:32.395792px;}
.hb{height:39.000000px;}
.ha{height:40.490002px;}
.h5{height:43.500000px;}
.h7{height:45.000000px;}
.h2{height:50.279999px;}
.h3{height:54.000000px;}
.h9{height:109.000000px;}
.h1{height:406.000000px;}
.h0{height:792.000000px;}
.w2{width:214.399994px;}
.w3{width:240.500000px;}
.w4{width:500.000000px;}
.w1{width:501.500000px;}
.w0{width:612.000000px;}
.xd{left:0.000000px;}
.x2{left:6.400000px;}
.x1{left:51.199998px;}
.x0{left:56.000000px;}
.xb{left:57.599998px;}
.x9{left:73.572998px;}
.xc{left:84.599998px;}
.x7{left:103.260001px;}
.x4{left:123.918997px;}
.x5{left:154.133994px;}
.x6{left:158.396002px;}
.x8{left:211.846001px;}
.x3{left:263.599992px;}
.xa{left:287.758003px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{width:3.413333pt;}
._1{width:5.653333pt;}
._0{width:8.034667pt;}
._3{width:14.293333pt;}
._2{width:19.466667pt;}
._5{width:76.373333pt;}
._7{width:611.721704pt;}
._6{width:1988.426641pt;}
.fs7{font-size:42.666667pt;}
.fsa{font-size:50.666667pt;}
.fs2{font-size:53.333333pt;}
.fs9{font-size:56.000000pt;}
.fs4{font-size:56.489214pt;}
.fs3{font-size:61.333333pt;}
.fs6{font-size:64.000000pt;}
.fs8{font-size:69.333333pt;}
.fs1{font-size:77.333333pt;}
.fs5{font-size:80.000000pt;}
.fs0{font-size:96.000000pt;}
.y6{bottom:4.086666pt;}
.y5{bottom:20.179999pt;}
.y4{bottom:36.273332pt;}
.y32{bottom:36.645336pt;}
.y2{bottom:41.694664pt;}
.y3{bottom:52.366665pt;}
.y2f{bottom:105.950659pt;}
.y2e{bottom:122.044011pt;}
.y2d{bottom:138.137346pt;}
.y2c{bottom:154.230698pt;}
.y2b{bottom:170.324032pt;}
.y2a{bottom:186.417375pt;}
.y29{bottom:202.510646pt;}
.y28{bottom:218.603980pt;}
.y27{bottom:234.697332pt;}
.y26{bottom:250.790666pt;}
.y25{bottom:266.884018pt;}
.y24{bottom:282.977352pt;}
.y23{bottom:299.070663pt;}
.y22{bottom:315.163998pt;}
.y21{bottom:331.257350pt;}
.y20{bottom:347.350684pt;}
.y1f{bottom:363.443995pt;}
.y1e{bottom:379.537329pt;}
.y1d{bottom:395.630672pt;}
.y1c{bottom:411.724016pt;}
.y0{bottom:441.333333pt;}
.y1b{bottom:447.287999pt;}
.y1a{bottom:488.144019pt;}
.y19{bottom:504.237321pt;}
.y18{bottom:520.330664pt;}
.y17{bottom:536.424007pt;}
.y16{bottom:552.517351pt;}
.y15{bottom:568.610653pt;}
.y14{bottom:584.703996pt;}
.y13{bottom:600.797339pt;}
.y12{bottom:616.890682pt;}
.y11{bottom:651.121333pt;}
.y10{bottom:691.977336pt;}
.yf{bottom:708.070669pt;}
.ye{bottom:724.163996pt;}
.yd{bottom:740.257329pt;}
.yc{bottom:756.350662pt;}
.yb{bottom:772.443995pt;}
.ya{bottom:788.537329pt;}
.y38{bottom:798.106665pt;}
.y30{bottom:812.000000pt;}
.y37{bottom:814.199998pt;}
.y9{bottom:835.390671pt;}
.y36{bottom:846.386669pt;}
.y8{bottom:851.484005pt;}
.y35{bottom:862.480002pt;}
.y7{bottom:868.817337pt;}
.y34{bottom:878.573335pt;}
.y33{bottom:912.804001pt;}
.y1{bottom:913.493337pt;}
.y31{bottom:934.813329pt;}
.h8{height:40.000000pt;}
.h4{height:40.781250pt;}
.h6{height:43.194390pt;}
.hb{height:52.000000pt;}
.ha{height:53.986669pt;}
.h5{height:58.000000pt;}
.h7{height:60.000000pt;}
.h2{height:67.039998pt;}
.h3{height:72.000000pt;}
.h9{height:145.333333pt;}
.h1{height:541.333333pt;}
.h0{height:1056.000000pt;}
.w2{width:285.866659pt;}
.w3{width:320.666667pt;}
.w4{width:666.666667pt;}
.w1{width:668.666667pt;}
.w0{width:816.000000pt;}
.xd{left:0.000000pt;}
.x2{left:8.533333pt;}
.x1{left:68.266664pt;}
.x0{left:74.666667pt;}
.xb{left:76.799998pt;}
.x9{left:98.097331pt;}
.xc{left:112.799998pt;}
.x7{left:137.680001pt;}
.x4{left:165.225330pt;}
.x5{left:205.511992pt;}
.x6{left:211.194670pt;}
.x8{left:282.461334pt;}
.x3{left:351.466656pt;}
.xa{left:383.677338pt;}
}
