* { box-sizing: border-box; }

body 
{
  margin: 0;

} 

.main_header 
{ 
  background: tomato;
  height: 250px;
  width:100%;


}

.main_content 
{
  display:inline-block;
  background-color: grey; 

  width:100%;

}